secure         = false
container      = wildfly
home           = /home/file/pf/wildfly-9.0.1.Final
port           = 9990

!secure         = true
!container      = glassfish
!home           = /home/fisher/pf/glassfish4
!port           = 4848
